# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===== Virtual Environment =====
venv/
.env/
.envrc/

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== Logs & temp =====
*.log
*.tmp
*.swp
*.bak

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Node / Web =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== Build / dist =====
build/
dist/
*.egg-info/

# ===== IDE =====
.vscode/
.idea/
*.iml

